In [11]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split

# Initial imports
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

%matplotlib inline

In [12]:
csv_path = Path('../Project-03/teamGameStats.csv')
teamstats_df = pd.read_csv(csv_path)

In [13]:
# dropping unneeded columns
# subsequent analysis dropped '+/-' and 'PTS' columns
#teamstats_df = teamstats_df.drop(columns=['TEAM','GAMEDATE','+/-','PTS','REB'])

In [14]:
# converting 'H/A' to 0/1's
teamstats_df['H/A'] = teamstats_df['H/A'].apply(lambda x: 1 if x=="vs" else 0)
teamstats_df[:5]

,TEAM,TEAM1,H/A,TEAM2,GAMEDATE,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,ATL,ATL,1,IND,4/18/2021,W,48,129,45,92,...,76.5,14,37,51,20,10,8,7,19,12
1,CHA,CHA,1,POR,4/18/2021,W,48,109,39,83,...,76.5,7,39,46,26,14,6,8,25,8
2,NOP,NOP,0,NYK,4/18/2021,L,53,112,41,101,...,80.0,20,32,52,25,13,6,4,16,-10
3,MIA,MIA,1,BKN,4/18/2021,W,48,109,38,87,...,81.0,16,37,53,28,17,9,1,13,2
4,POR,POR,0,CHA,4/18/2021,L,48,101,36,91,...,67.9,13,34,47,18,9,7,3,17,-8

In [15]:
# converting 'W/L' to 0/1's
teamstats_df['W/L']=teamstats_df['W/L'].apply(lambda x: 1 if x=="W" else 0)
teamstats_df[:5]

,TEAM,TEAM1,H/A,TEAM2,GAMEDATE,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,ATL,ATL,1,IND,4/18/2021,1,48,129,45,92,...,76.5,14,37,51,20,10,8,7,19,12
1,CHA,CHA,1,POR,4/18/2021,1,48,109,39,83,...,76.5,7,39,46,26,14,6,8,25,8
2,NOP,NOP,0,NYK,4/18/2021,0,53,112,41,101,...,80.0,20,32,52,25,13,6,4,16,-10
3,MIA,MIA,1,BKN,4/18/2021,1,48,109,38,87,...,81.0,16,37,53,28,17,9,1,13,2
4,POR,POR,0,CHA,4/18/2021,0,48,101,36,91,...,67.9,13,34,47,18,9,7,3,17,-8

In [18]:
new_teamstats_df = pd.get_dummies(teamstats_df, columns=['TEAM1','TEAM2']).head()

In [19]:
new_teamstats_df.head()

,TEAM,H/A,GAMEDATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,TEAM2_OKC,TEAM2_ORL,TEAM2_PHI,TEAM2_PHX,TEAM2_POR,TEAM2_SAC,TEAM2_SAS,TEAM2_TOR,TEAM2_UTA,TEAM2_WAS
0,ATL,1,4/18/2021,1,48,129,45,92,48.9,13,...,0,0,0,0,0,0,0,0,0,0
1,CHA,1,4/18/2021,1,48,109,39,83,47.0,18,...,0,0,0,0,0,0,0,0,0,0
2,NOP,0,4/18/2021,0,53,112,41,101,40.6,6,...,0,0,0,0,0,0,0,0,0,0
3,MIA,1,4/18/2021,1,48,109,38,87,43.7,16,...,0,0,0,0,0,0,0,0,0,0
4,POR,0,4/18/2021,0,48,101,36,91,39.6,10,...,0,0,0,0,0,0,0,0,0,0

In [20]:
#teamstats_df = teamstats_df.drop(columns=['TEAM1','TEAM2'])

In [21]:
# defining 'W/L' column as feature set
X = new_teamstats_df.copy()
X.drop('W/L', axis=1, inplace=True)
X.head(16)

,TEAM,H/A,GAMEDATE,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,TEAM2_OKC,TEAM2_ORL,TEAM2_PHI,TEAM2_PHX,TEAM2_POR,TEAM2_SAC,TEAM2_SAS,TEAM2_TOR,TEAM2_UTA,TEAM2_WAS
0,ATL,1,4/18/2021,48,129,45,92,48.9,13,32,...,0,0,0,0,0,0,0,0,0,0
1,CHA,1,4/18/2021,48,109,39,83,47.0,18,43,...,0,0,0,0,0,0,0,0,0,0
2,NOP,0,4/18/2021,53,112,41,101,40.6,6,27,...,0,0,0,0,0,0,0,0,0,0
3,MIA,1,4/18/2021,48,109,38,87,43.7,16,39,...,0,0,0,0,0,0,0,0,0,0
4,POR,0,4/18/2021,48,101,36,91,39.6,10,36,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# defining target vector
y=new_teamstats_df['W/L'].values.reshape(-1,1)
# defining target vector
#y=teamstats_df['W/L'].ravel()
y[:5]

array([[1],
       [1],
       [0],
       [1],
       [0]], dtype=int64)

In [ ]:
# Create the features (X) and target (y) sets
X = df.iloc[:, 0:23].values
y = df["W/L"].values

In [ ]:
# Scale the data
#from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler().fit(X)
#X = scaler.transform(X)

In [ ]:
# Define the model - shallow neural net
number_hidden_nodes = 8
number_input_features = 23

nn = Sequential()
# Hidden layer
nn.add(
    Dense(units=number_hidden_nodes, input_dim=number_input_features, activation="relu")
)
# Output layer
nn.add(Dense(units=1, activation="linear"))

In [ ]:
 # Compile the model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

# Train the model
model_1 = nn.fit(X, y, validation_split=0.3, epochs=200)