In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split

# Initial imports
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

%matplotlib inline

In [2]:
csv_path = Path('../Project-03/combined_df.csv')
teamstats_df = pd.read_csv(csv_path)

In [3]:
teamstats_df = teamstats_df.drop(columns=['Unnamed: 0'])

In [4]:
teamstats_df['GAMEDATE'] = pd.to_datetime(teamstats_df['GAMEDATE'])
teamstats_df['GAMEDATE.1'] = pd.to_datetime(teamstats_df['GAMEDATE.1'])

In [5]:
teamstats_df.shape

(12738, 52)

In [6]:
# converting 'W/L' to 0/1's
teamstats_df['H_W/L']=teamstats_df['H_W/L'].apply(lambda x: 1 if x=="W" else 0)
teamstats_df['A_W/L']=teamstats_df['A_W/L'].apply(lambda x: 1 if x=="W" else 0)
teamstats_df[:5]

,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,H_FGA,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
0,ATL,ATL,vs,SAS,2021-04-18,1,53,114,42,92,...,86.4,9,38,47,27,12,5,6,21,-2
1,ATL,ATL,vs,GSW,2021-04-18,0,48,100,37,80,...,68.0,13,34,47,30,21,15,7,17,1
2,ATL,ATL,vs,IND,2021-04-18,1,48,116,42,82,...,82.9,13,26,39,24,11,8,4,24,-5
3,ATL,ATL,vs,MIA,2021-04-18,0,63,109,36,94,...,78.3,14,42,56,25,22,6,6,35,7
4,ATL,ATL,vs,BOS,2021-04-18,0,48,81,28,68,...,66.7,16,28,44,27,13,11,4,15,8

In [7]:
# converting 'H/A' to 0/1's
teamstats_df['H_H/A'] = teamstats_df['H_H/A'].apply(lambda x: 1 if x=="vs" else 0)
teamstats_df['A_H/A'] = teamstats_df['A_H/A'].apply(lambda x: 1 if x=="vs" else 0)

teamstats_df[:5]

,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,H_FGA,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
0,ATL,ATL,1,SAS,2021-04-18,1,53,114,42,92,...,86.4,9,38,47,27,12,5,6,21,-2
1,ATL,ATL,1,GSW,2021-04-18,0,48,100,37,80,...,68.0,13,34,47,30,21,15,7,17,1
2,ATL,ATL,1,IND,2021-04-18,1,48,116,42,82,...,82.9,13,26,39,24,11,8,4,24,-5
3,ATL,ATL,1,MIA,2021-04-18,0,63,109,36,94,...,78.3,14,42,56,25,22,6,6,35,7
4,ATL,ATL,1,BOS,2021-04-18,0,48,81,28,68,...,66.7,16,28,44,27,13,11,4,15,8

In [8]:
teamstats_df.shape

(12738, 52)

In [9]:
teamstats_df = teamstats_df.drop(['H_TEAM','A_TEAM'], axis = 1)

In [10]:
dummy_teamstats_df = pd.get_dummies(teamstats_df, columns=['H_TEAM1','H_TEAM2','A_TEAM1','A_TEAM2'])

In [11]:
teamstats_df.shape

(12738, 50)

In [12]:
dummy_teamstats_df.shape

(12738, 204)

In [14]:
dummy_teamstats_df.info('include=all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 204 columns):
 #    Column        Dtype
---   ------        -----
 0    H_H/A         int64
 1    GAMEDATE      datetime64[ns]
 2    H_W/L         int64
 3    H_MIN         int64
 4    H_PTS         int64
 5    H_FGM         int64
 6    H_FGA         int64
 7    H_FG%         float64
 8    H_3PM         int64
 9    H_3PA         int64
 10   H_3P%         float64
 11   H_FTM         int64
 12   H_FTA         int64
 13   H_FT%         float64
 14   H_OREB        int64
 15   H_DREB        int64
 16   H_REB         int64
 17   H_AST         int64
 18   H_TOV         int64
 19   H_STL         int64
 20   H_BLK         int64
 21   H_PF          int64
 22   H_+/-         int64
 23   A_H/A         int64
 24   GAMEDATE.1    datetime64[ns]
 25   A_W/L         int64
 26   A_MIN         int64
 27   A_PTS         int64
 28   A_FGM         int64
 29   A_FGA         int64
 30   A_FG%         float64
 31   A_3PM         int64
 32   A_3PA         int64
 33   A_3P%         float64
 34   A_FTM         int64
 35   A_FTA         int64
 36   A_FT%         float64
 37   A_OREB        int64
 38   A_DREB        int64
 39   A_REB         int64
 40   A_AST         int64
 41   A_TOV         int64
 42   A_STL         int64
 43   A_BLK         int64
 44   A_PF          int64
 45   A_+/-         int64
 46   H_TEAM1_ATL   uint8
 47   H_TEAM1_BKN   uint8
 48   H_TEAM1_BOS   uint8
 49   H_TEAM1_CHA   uint8
 50   H_TEAM1_CHI   uint8
 51   H_TEAM1_CLE   uint8
 52   H_TEAM1_DAL   uint8
 53   H_TEAM1_DEN   uint8
 54   H_TEAM1_DET   uint8
 55   H_TEAM1_GSW   uint8
 56   H_TEAM1_HOU   uint8
 57   H_TEAM1_IND   uint8
 58   H_TEAM1_LAC   uint8
 59   H_TEAM1_LAL   uint8
 60   H_TEAM1_MEM   uint8
 61   H_TEAM1_MIA   uint8
 62   H_TEAM1_MIL   uint8
 63   H_TEAM1_MIN   uint8
 64   H_TEAM1_NJN   uint8
 65   H_TEAM1_NOH   uint8
 66   H_TEAM1_NOP   uint8
 67   H_TEAM1_NYK   uint8
 68   H_TEAM1_OKC   uint8
 69   H_TEAM1_ORL   uint8
 70   H_TEAM1_PHI   uint8
 71   H_TEAM1_PHX   uint8
 72   H_TEAM1_POR   uint8
 73   H_TEAM1_SAC   uint8
 74   H_TEAM1_SAS   uint8
 75   H_TEAM1_TOR   uint8
 76   H_TEAM1_UTA   uint8
 77   H_TEAM1_WAS   uint8
 78   H_TEAM2_ ATL  uint8
 79   H_TEAM2_ BKN  uint8
 80   H_TEAM2_ BOS  uint8
 81   H_TEAM2_ CHA  uint8
 82   H_TEAM2_ CHI  uint8
 83   H_TEAM2_ CLE  uint8
 84   H_TEAM2_ DAL  uint8
 85   H_TEAM2_ DEN  uint8
 86   H_TEAM2_ DET  uint8
 87   H_TEAM2_ GSW  uint8
 88   H_TEAM2_ HOU  uint8
 89   H_TEAM2_ IND  uint8
 90   H_TEAM2_ LAC  uint8
 91   H_TEAM2_ LAL  uint8
 92   H_TEAM2_ MEM  uint8
 93   H_TEAM2_ MIA  uint8
 94   H_TEAM2_ MIL  uint8
 95   H_TEAM2_ MIN  uint8
 96   H_TEAM2_ NOP  uint8
 97   H_TEAM2_ NYK  uint8
 98   H_TEAM2_ OKC  uint8
 99   H_TEAM2_ ORL  uint8
 100  H_TEAM2_ PHI  uint8
 101  H_TEAM2_ PHX  uint8
 102  H_TEAM2_ POR  uint8
 103  H_TEAM2_ SAC  uint8
 104  H_TEAM2_ SAS  uint8
 105  H_TEAM2_ TOR  uint8
 106  H_TEAM2_ UTA  uint8
 107  H_TEAM2_ WAS  uint8
 108  H_TEAM2_ATL   uint8
 109  H_TEAM2_BKN   uint8
 110  H_TEAM2_BOS   uint8
 111  H_TEAM2_CHA   uint8
 112  H_TEAM2_CHI   uint8
 113  H_TEAM2_CLE   uint8
 114  H_TEAM2_DAL   uint8
 115  H_TEAM2_DEN   uint8
 116  H_TEAM2_DET   uint8
 117  H_TEAM2_GSW   uint8
 118  H_TEAM2_HOU   uint8
 119  H_TEAM2_IND   uint8
 120  H_TEAM2_LAC   uint8
 121  H_TEAM2_LAL   uint8
 122  H_TEAM2_MEM   uint8
 123  H_TEAM2_MIA   uint8
 124  H_TEAM2_MIL   uint8
 125  H_TEAM2_MIN   uint8
 126  H_TEAM2_NJN   uint8
 127  H_TEAM2_NOH   uint8
 128  H_TEAM2_NOP   uint8
 129  H_TEAM2_NYK   uint8
 130  H_TEAM2_OKC   uint8
 131  H_TEAM2_ORL   uint8
 132  H_TEAM2_PHI   uint8
 133  H_TEAM2_PHX   uint8
 134  H_TEAM2_POR   uint8
 135  H_TEAM2_SAC   uint8
 136  H_TEAM2_SAS   uint8
 137  H_TEAM2_TOR   uint8
 138  H_TEAM2_UTA   uint8
 139  H_TEAM2_WAS   uint8
 140  A_TEAM1_ATL   uint8
 141  A_TEAM1_BKN   uint8
 142  A_TEAM1_BOS   uint8
 143  A_TEAM1_CHA   uint8
 144  A_TEAM1_CHI   uint8
 145  A_TEAM1_CLE   uint8
 146  A_TEAM1_DAL   uint8
 147  A_TEAM1_DEN   uint8
 148  A_TEAM1_DET   uint8
 149  A_TEAM1_GSW   uint8
 150  A_TEAM1_HOU   uint8
 151  A_TEAM1_IND   uint8
 152  A_TEAM1_LAC   uint8
 153  A_TEAM1_LAL   uint8
 154  A_TEAM1_MEM   uint8
 155  A_TEAM1_MIA   uint8
 156  A_TEAM1_MIL   uint8
 157  A_TEAM1_MIN   uint8
 158  A_TEAM1_NJN   uint8
 159  A_TEAM1_NOH   uint8
 160  A_TEAM1_NOP   uint8
 161  A_TEAM1_NYK   uint8
 162  A_TEAM1_OKC   uint8
 163  A_TEAM1_ORL   uint8
 164  A_TEAM1_PHI   uint8
 165  A_TEAM1_PHX   uint8
 166  A_TEAM1_POR   uint8
 167  A_TEAM1_SAC   uint8
 168  A_TEAM1_SAS   uint8
 169  A_TEAM1_TOR   uint8
 170  A_TEAM1_UTA   uint8
 171  A_TEAM1_WAS   uint8
 172  A_TEAM2_ATL   uint8
 173  A_TEAM2_BKN   uint8
 174  A_TEAM2_BOS   uint8
 175  A_TEAM2_CHA   uint8
 176  A_TEAM2_CHI   uint8
 177  A_TEAM2_CLE   uint8
 178  A_TEAM2_DAL   uint8
 179  A_TEAM2_DEN   uint8
 180  A_TEAM2_DET   uint8
 181  A_TEAM2_GSW   uint8
 182  A_TEAM2_HOU   uint8
 183  A_TEAM2_IND   uint8
 184  A_TEAM2_LAC   uint8
 185  A_TEAM2_LAL   uint8
 186  A_TEAM2_MEM   uint8
 187  A_TEAM2_MIA   uint8
 188  A_TEAM2_MIL   uint8
 189  A_TEAM2_MIN   uint8
 190  A_TEAM2_NJN   uint8
 191  A_TEAM2_NOH   uint8
 192  A_TEAM2_NOP   uint8
 193  A_TEAM2_NYK   uint8
 194  A_TEAM2_OKC   uint8
 195  A_TEAM2_ORL   uint8
 196  A_TEAM2_PHI   uint8
 197  A_TEAM2_PHX   uint8
 198  A_TEAM2_POR   uint8
 199  A_TEAM2_SAC   uint8
 200  A_TEAM2_SAS   uint8
 201  A_TEAM2_TOR   uint8
 202  A_TEAM2_UTA   uint8
 203  A_TEAM2_WAS   uint8
dtypes: datetime64[ns](2), float64(6), int64(38), uint8(158)
memory usage: 6.4 MB

In [16]:
# defining 'W/L' column as feature set
X = dummy_teamstats_df.copy()
X.drop('H_W/L', axis=1, inplace=True)
X.head(16)

,H_H/A,GAMEDATE,H_MIN,H_PTS,H_FGM,H_FGA,H_FG%,H_3PM,H_3PA,H_3P%,...,A_TEAM2_OKC,A_TEAM2_ORL,A_TEAM2_PHI,A_TEAM2_PHX,A_TEAM2_POR,A_TEAM2_SAC,A_TEAM2_SAS,A_TEAM2_TOR,A_TEAM2_UTA,A_TEAM2_WAS
0,1,2021-04-18,53,114,42,92,45.7,14,28,50.0,...,0,0,0,0,0,0,0,0,0,0
1,1,2021-04-18,48,100,37,80,46.3,10,31,32.3,...,0,0,0,0,0,0,0,0,0,0
2,1,2021-04-18,48,116,42,82,51.2,10,32,31.3,...,0,0,0,0,0,0,0,0,0,0
3,1,2021-04-18,63,109,36,94,38.3,6,22,27.3,...,0,0,0,0,0,0,0,0,0,0
4,1,2021-04-18,48,81,28,68,41.2,10,29,34.5,...,0,0,0,0,0,0,0,0,0,0
5,1,2021-04-18,48,101,37,87,42.5,15,39,38.5,...,0,0,0,0,0,0,0,0,0,0
6,1,2021-04-18,48,106,43,91,47.3,10,24,41.7,...,0,0,0,0,0,0,0,0,0,0
7,1,2021-04-18,48,115,35,77,45.5,18,39,46.2,...,0,0,0,0,0,0,0,0,0,0
8,1,2021-04-18,48,109,47,83,56.6,9,12,75.0,...,0,0,0,0,0,0,0,0,0,0
9,1,2021-04-18,48,96,32,72,44.4,13,25,52.0,...,0,0,0,0,0,0,0,0,0,0
10,1,2021-04-18,48,108,36,84,42.9,11,22,50.0,...,0,0,0,0,0,0,0,0,0,0
11,1,2021-04-18,48,97,34,75,45.3,10,23,43.5,...,0,0,0,0,0,0,0,0,0,0
12,1,2021-04-18,48,115,39,106,36.8,13,44,29.5,...,0,0,0,0,0,0,0,0,0,0
13,1,2021-04-18,48,120,49,94,52.1,10,24,41.7,...,0,0,0,0,0,0,0,0,0,0
14,1,2021-04-18,48,83,32,86,37.2,9,32,28.1,...,0,0,0,0,0,0,0,0,0,0
15,1,2021-04-18,48,103,40,72,55.6,9,19,47.4,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# defining target vector
#y=new_teamstats_df['H_W/L'].values.reshape(-1,1)
# defining target vector
y=dummy_teamstats_df['H_W/L'].ravel()
y[:5]

array([1, 0, 1, 0, 0], dtype=int64)

In [19]:
# Create the features (X) and target (y) sets
X = dummy_teamstats_df.iloc[:, 0:23].values
y = dummy_teamstats_df["H_W/L"].values

In [23]:
print(type(X))

<class 'numpy.ndarray'>

In [ ]:
# Scale the data
#from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler().fit(X)
#X = scaler.transform(X)

In [20]:
# Define the model - shallow neural net
number_hidden_nodes = 8
number_input_features = 23

nn = Sequential()
# Hidden layer
nn.add(
    Dense(units=number_hidden_nodes, input_dim=number_input_features, activation="relu")
)
# Output layer
nn.add(Dense(units=1, activation="linear"))

In [21]:
 # Compile the model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

# Train the model
model_1 = nn.fit(X, y, validation_split=0.3, epochs=200)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).