In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
csvpath = Path('../Project-03/combined_df.csv')
df = pd.read_csv(csvpath)

In [3]:
df.head()

,Unnamed: 0,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
0,0,ATL,ATL,vs,SAS,2017-01-01,W,53,114,42,...,86.4,9,38,47,27,12,5,6,21,-2
1,1,ATL,ATL,vs,GSW,2014-01-03,L,48,100,37,...,68.0,13,34,47,30,21,15,7,17,1
2,2,ATL,ATL,vs,IND,2020-01-04,W,48,116,42,...,82.9,13,26,39,24,11,8,4,24,-5
3,3,ATL,ATL,vs,MIA,2012-01-05,L,63,109,36,...,78.3,14,42,56,25,22,6,6,35,7
4,4,ATL,ATL,vs,BOS,2013-01-05,L,48,81,28,...,66.7,16,28,44,27,13,11,4,15,8

In [4]:
df.info('include=all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12738 non-null  int64
 1   H_TEAM      12738 non-null  object
 2   H_TEAM1     12738 non-null  object
 3   H_H/A       12738 non-null  object
 4   H_TEAM2     12738 non-null  object
 5   GAMEDATE    12738 non-null  object
 6   H_W/L       12738 non-null  object
 7   H_MIN       12738 non-null  int64
 8   H_PTS       12738 non-null  int64
 9   H_FGM       12738 non-null  int64
 10  H_FGA       12738 non-null  int64
 11  H_FG%       12738 non-null  float64
 12  H_3PM       12738 non-null  int64
 13  H_3PA       12738 non-null  int64
 14  H_3P%       12738 non-null  float64
 15  H_FTM       12738 non-null  int64
 16  H_FTA       12738 non-null  int64
 17  H_FT%       12738 non-null  float64
 18  H_OREB      12738 non-null  int64
 19  H_DREB      12738 non-null  int64
 20  H_REB       12738 non-null  int64
 21  H_AST       12738 non-null  int64
 22  H_TOV       12738 non-null  int64
 23  H_STL       12738 non-null  int64
 24  H_BLK       12738 non-null  int64
 25  H_PF        12738 non-null  int64
 26  H_+/-       12738 non-null  int64
 27  A_TEAM      12738 non-null  object
 28  A_TEAM1     12738 non-null  object
 29  A_H/A       12738 non-null  object
 30  A_TEAM2     12738 non-null  object
 31  GAMEDATE.1  12738 non-null  object
 32  A_W/L       12738 non-null  object
 33  A_MIN       12738 non-null  int64
 34  A_PTS       12738 non-null  int64
 35  A_FGM       12738 non-null  int64
 36  A_FGA       12738 non-null  int64
 37  A_FG%       12738 non-null  float64
 38  A_3PM       12738 non-null  int64
 39  A_3PA       12738 non-null  int64
 40  A_3P%       12738 non-null  float64
 41  A_FTM       12738 non-null  int64
 42  A_FTA       12738 non-null  int64
 43  A_FT%       12738 non-null  float64
 44  A_OREB      12738 non-null  int64
 45  A_DREB      12738 non-null  int64
 46  A_REB       12738 non-null  int64
 47  A_AST       12738 non-null  int64
 48  A_TOV       12738 non-null  int64
 49  A_STL       12738 non-null  int64
 50  A_BLK       12738 non-null  int64
 51  A_PF        12738 non-null  int64
 52  A_+/-       12738 non-null  int64
dtypes: float64(6), int64(35), object(12)
memory usage: 5.2+ MB

In [5]:
df = df.drop(columns=['Unnamed: 0'])

In [6]:
df.tail()

,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,H_FGA,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
12733,WAS,WAS,vs,CHA,2021-03-30,L,48,104,41,100,...,84.2,9,41,50,24,14,6,6,17,10
12734,WAS,WAS,vs,LAC,2021-03-04,W,48,119,40,88,...,92.6,10,35,45,24,19,4,4,31,-2
12735,WAS,WAS,vs,NOP,2021-04-16,W,53,117,45,96,...,84.8,11,45,56,26,16,11,7,22,-2
12736,WAS,WAS,vs,DET,2021-04-17,W,48,121,50,94,...,73.9,9,36,45,19,18,7,6,20,-21
12737,WAS,WAS,vs,DAL,2021-04-03,L,48,87,35,86,...,79.2,14,36,50,17,8,7,4,22,22

In [7]:
# dropping columns for model tuning

df = df.drop(columns=['A_H/A',
                      'H_+/-',
                      'A_+/-',
                      'H_PTS',
                      'A_PTS',
                      'A_W/L',
                      'H_FGM',
                      'A_FGM',
                      'H_REB',
                      'A_REB',
                      'H_FTM',
                      'A_FTM',
                      'H_FTA',
                      'A_FTA',
                      'H_TEAM',
                      'A_TEAM',
                      'GAMEDATE.1'])

In [8]:
df.info('include=all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 35 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   H_TEAM1   12738 non-null  object
 1   H_H/A     12738 non-null  object
 2   H_TEAM2   12738 non-null  object
 3   GAMEDATE  12738 non-null  object
 4   H_W/L     12738 non-null  object
 5   H_MIN     12738 non-null  int64
 6   H_FGA     12738 non-null  int64
 7   H_FG%     12738 non-null  float64
 8   H_3PM     12738 non-null  int64
 9   H_3PA     12738 non-null  int64
 10  H_3P%     12738 non-null  float64
 11  H_FT%     12738 non-null  float64
 12  H_OREB    12738 non-null  int64
 13  H_DREB    12738 non-null  int64
 14  H_AST     12738 non-null  int64
 15  H_TOV     12738 non-null  int64
 16  H_STL     12738 non-null  int64
 17  H_BLK     12738 non-null  int64
 18  H_PF      12738 non-null  int64
 19  A_TEAM1   12738 non-null  object
 20  A_TEAM2   12738 non-null  object
 21  A_MIN     12738 non-null  int64
 22  A_FGA     12738 non-null  int64
 23  A_FG%     12738 non-null  float64
 24  A_3PM     12738 non-null  int64
 25  A_3PA     12738 non-null  int64
 26  A_3P%     12738 non-null  float64
 27  A_FT%     12738 non-null  float64
 28  A_OREB    12738 non-null  int64
 29  A_DREB    12738 non-null  int64
 30  A_AST     12738 non-null  int64
 31  A_TOV     12738 non-null  int64
 32  A_STL     12738 non-null  int64
 33  A_BLK     12738 non-null  int64
 34  A_PF      12738 non-null  int64
dtypes: float64(6), int64(22), object(7)
memory usage: 3.4+ MB

In [9]:
df['GAMEDATE'] = pd.to_datetime(df['GAMEDATE'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 35 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   H_TEAM1   12738 non-null  object
 1   H_H/A     12738 non-null  object
 2   H_TEAM2   12738 non-null  object
 3   GAMEDATE  12738 non-null  datetime64[ns]
 4   H_W/L     12738 non-null  object
 5   H_MIN     12738 non-null  int64
 6   H_FGA     12738 non-null  int64
 7   H_FG%     12738 non-null  float64
 8   H_3PM     12738 non-null  int64
 9   H_3PA     12738 non-null  int64
 10  H_3P%     12738 non-null  float64
 11  H_FT%     12738 non-null  float64
 12  H_OREB    12738 non-null  int64
 13  H_DREB    12738 non-null  int64
 14  H_AST     12738 non-null  int64
 15  H_TOV     12738 non-null  int64
 16  H_STL     12738 non-null  int64
 17  H_BLK     12738 non-null  int64
 18  H_PF      12738 non-null  int64
 19  A_TEAM1   12738 non-null  object
 20  A_TEAM2   12738 non-null  object
 21  A_MIN     12738 non-null  int64
 22  A_FGA     12738 non-null  int64
 23  A_FG%     12738 non-null  float64
 24  A_3PM     12738 non-null  int64
 25  A_3PA     12738 non-null  int64
 26  A_3P%     12738 non-null  float64
 27  A_FT%     12738 non-null  float64
 28  A_OREB    12738 non-null  int64
 29  A_DREB    12738 non-null  int64
 30  A_AST     12738 non-null  int64
 31  A_TOV     12738 non-null  int64
 32  A_STL     12738 non-null  int64
 33  A_BLK     12738 non-null  int64
 34  A_PF      12738 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(22), object(6)
memory usage: 3.4+ MB

In [11]:
df.tail(100)

,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_FGA,H_FG%,H_3PM,H_3PA,...,A_3PA,A_3P%,A_FT%,A_OREB,A_DREB,A_AST,A_TOV,A_STL,A_BLK,A_PF
12638,WAS,vs,LAL,2013-11-26,W,48,87,52.9,6,21,...,28,46.4,76.9,9,25,30,17,4,5,19
12639,WAS,vs,SAS,2016-11-26,L,48,88,47.7,6,22,...,24,37.5,79.3,6,32,22,14,7,6,17
12640,WAS,vs,HOU,2018-11-26,W,53,89,56.2,11,29,...,48,37.5,77.8,18,30,22,21,8,5,31
12641,WAS,vs,ORL,2010-11-27,L,48,80,45.0,7,16,...,21,38.1,74.1,10,28,19,13,5,4,21
12642,WAS,vs,POR,2012-11-28,W,48,71,43.7,5,12,...,31,32.3,66.7,18,27,14,11,10,3,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12733,WAS,vs,CHA,2021-03-30,L,48,100,41.0,10,37,...,34,41.2,84.2,9,41,24,14,6,6,17
12734,WAS,vs,LAC,2021-03-04,W,48,88,45.5,9,23,...,35,45.7,92.6,10,35,24,19,4,4,31
12735,WAS,vs,NOP,2021-04-16,W,53,96,46.9,4,27,...,28,25.0,84.8,11,45,26,16,11,7,22
12736,WAS,vs,DET,2021-04-17,W,48,94,53.2,9,16,...,27,33.3,73.9,9,36,19,18,7,6,20
12737,WAS,vs,DAL,2021-04-03,L,48,86,40.7,5,25,...,30,33.3,79.2,14,36,17,8,7,4,22

In [12]:
df['H_W/L']=df['H_W/L'].apply(lambda x: 1 if x=="W" else 0)
# converting 'H/A' to 0/1's
df['H_H/A'] = df['H_H/A'].apply(lambda x: 1 if x=="vs" else 0)

In [13]:
df.tail(40)

,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_FGA,H_FG%,H_3PM,H_3PA,...,A_3PA,A_3P%,A_FT%,A_OREB,A_DREB,A_AST,A_TOV,A_STL,A_BLK,A_PF
12698,WAS,1,NJN,2011-12-26,0,48,74,41.9,1,7,...,26,23.1,80.0,18,40,17,16,7,3,26
12699,WAS,1,CLE,2012-12-26,0,48,76,46.1,4,18,...,27,37.0,65.2,12,26,20,10,9,3,16
12700,WAS,1,MIL,2016-12-26,1,48,79,50.6,12,29,...,20,30.0,69.6,12,30,27,14,8,2,19
12701,WAS,1,ORL,2020-12-26,0,48,95,48.4,13,37,...,31,35.5,79.3,11,43,25,14,8,0,21
12702,WAS,1,BOS,2014-12-27,1,48,90,50.0,5,13,...,24,25.0,75.0,8,28,17,18,10,2,15
12703,WAS,1,ORL,2020-12-27,0,48,97,48.5,8,32,...,25,36.0,97.4,11,34,19,10,6,3,14
12704,WAS,1,ORL,2012-12-28,1,48,88,47.7,6,20,...,28,35.7,81.8,9,32,25,14,5,2,13
12705,WAS,1,DET,2013-12-28,1,48,86,50.0,9,19,...,21,33.3,76.5,11,27,20,23,9,5,18
12706,WAS,1,LAC,2015-12-28,0,48,87,39.1,7,24,...,23,30.4,76.0,3,34,23,16,11,4,18
12707,WAS,1,IND,2016-12-28,1,48,78,48.7,8,22,...,28,39.3,82.8,5,29,24,13,10,4,29
12708,WAS,1,CHI,2018-12-28,0,48,85,40.0,9,30,...,22,36.4,76.0,7,39,20,10,9,6,18
12709,WAS,1,NYK,2019-12-28,0,48,96,34.4,10,25,...,31,35.5,76.9,11,45,25,22,5,5,25
12710,WAS,1,IND,2010-12-29,1,48,98,39.8,9,21,...,21,38.1,66.7,13,34,17,17,6,7,26
12711,WAS,1,HOU,2017-12-29,1,48,88,53.4,18,36,...,48,29.2,81.3,8,27,15,14,11,2,13
12712,WAS,1,CHA,2018-12-29,1,48,93,51.6,13,37,...,31,41.9,79.2,10,31,22,16,9,4,29
12713,WAS,1,CHI,2020-12-29,0,48,84,44.0,10,37,...,36,41.7,75.0,5,32,26,14,7,1,23
12714,WAS,1,BKN,2016-12-30,1,48,83,56.6,11,22,...,25,40.0,84.0,6,26,18,21,9,0,16
12715,WAS,1,MIA,2019-12-30,1,48,84,51.2,17,37,...,28,35.7,74.4,10,34,18,19,5,1,22
12716,WAS,1,CHI,2017-12-31,1,48,93,46.2,16,36,...,35,22.9,81.8,10,36,24,12,6,1,22
12717,WAS,1,CHI,2020-12-31,0,48,84,50.0,14,29,...,36,38.9,76.0,9,35,34,17,9,3,27
12718,WAS,1,TOR,2021-02-10,0,48,93,45.2,12,41,...,32,59.4,87.0,9,37,28,12,5,5,17
12719,WAS,1,NYK,2021-02-12,0,48,89,38.2,9,34,...,24,25.0,68.2,15,50,22,12,11,4,22
12720,WAS,1,BOS,2021-02-14,1,48,83,39.8,7,30,...,35,25.7,60.0,14,36,14,17,5,2,27
12721,WAS,1,HOU,2021-02-15,1,48,92,52.2,12,30,...,37,21.6,73.5,9,32,23,18,9,5,22
12722,WAS,1,DEN,2021-02-17,1,48,86,51.2,15,33,...,38,44.7,83.3,10,32,23,13,7,7,26
12723,WAS,1,POR,2021-02-02,0,48,83,55.4,16,40,...,46,45.7,100.0,14,30,19,9,6,1,19
12724,WAS,1,MIN,2021-02-27,1,48,98,44.9,13,33,...,35,31.4,65.5,12,38,23,18,9,10,29
12725,WAS,1,PHI,2021-03-12,0,48,82,48.8,8,24,...,21,52.4,100.0,10,39,26,17,13,6,19
12726,WAS,1,MIL,2021-03-13,0,48,94,45.7,16,41,...,45,37.8,88.0,13,44,33,18,9,3,19
12727,WAS,1,MIL,2021-03-15,0,48,87,50.6,16,38,...,28,39.3,94.7,9,37,29,16,6,5,20
12728,WAS,1,SAC,2021-03-17,0,48,94,48.9,4,25,...,33,30.3,82.9,6,32,25,10,10,4,26
12729,WAS,1,UTA,2021-03-18,1,48,86,54.7,7,17,...,48,37.5,57.1,11,36,19,17,10,3,27
12730,WAS,1,MEM,2021-03-02,0,48,81,50.6,11,31,...,29,44.8,78.3,9,35,26,13,15,1,21
12731,WAS,1,DET,2021-03-27,1,48,91,48.4,9,21,...,29,34.5,84.2,7,36,19,19,9,5,18
12732,WAS,1,IND,2021-03-29,1,48,99,55.6,10,19,...,30,40.0,72.7,7,30,32,14,11,6,18
12733,WAS,1,CHA,2021-03-30,0,48,100,41.0,10,37,...,34,41.2,84.2,9,41,24,14,6,6,17
12734,WAS,1,LAC,2021-03-04,1,48,88,45.5,9,23,...,35,45.7,92.6,10,35,24,19,4,4,31
12735,WAS,1,NOP,2021-04-16,1,53,96,46.9,4,27,...,28,25.0,84.8,11,45,26,16,11,7,22
12736,WAS,1,DET,2021-04-17,1,48,94,53.2,9,16,...,27,33.3,73.9,9,36,19,18,7,6,20
12737,WAS,1,DAL,2021-04-03,0,48,86,40.7,5,25,...,30,33.3,79.2,14,36,17,8,7,4,22

In [14]:
# separate non numeric data into separate dataframe
dummy_teamstats_df = df[['H_TEAM1','H_TEAM2','A_TEAM1','A_TEAM2']].copy()
teamstats_df =df.drop(['H_TEAM1','H_TEAM2','A_TEAM1','A_TEAM2'], axis=1)

In [15]:
# perform get_dummies on non numeric data
dummy_teamstats_df = pd.get_dummies(dummy_teamstats_df, columns=['H_TEAM1','H_TEAM2','A_TEAM1','A_TEAM2'])

In [16]:
dummy_teamstats_df.info('include=all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 158 columns):
 #    Column        Dtype
---   ------        -----
 0    H_TEAM1_ATL   uint8
 1    H_TEAM1_BKN   uint8
 2    H_TEAM1_BOS   uint8
 3    H_TEAM1_CHA   uint8
 4    H_TEAM1_CHI   uint8
 5    H_TEAM1_CLE   uint8
 6    H_TEAM1_DAL   uint8
 7    H_TEAM1_DEN   uint8
 8    H_TEAM1_DET   uint8
 9    H_TEAM1_GSW   uint8
 10   H_TEAM1_HOU   uint8
 11   H_TEAM1_IND   uint8
 12   H_TEAM1_LAC   uint8
 13   H_TEAM1_LAL   uint8
 14   H_TEAM1_MEM   uint8
 15   H_TEAM1_MIA   uint8
 16   H_TEAM1_MIL   uint8
 17   H_TEAM1_MIN   uint8
 18   H_TEAM1_NJN   uint8
 19   H_TEAM1_NOH   uint8
 20   H_TEAM1_NOP   uint8
 21   H_TEAM1_NYK   uint8
 22   H_TEAM1_OKC   uint8
 23   H_TEAM1_ORL   uint8
 24   H_TEAM1_PHI   uint8
 25   H_TEAM1_PHX   uint8
 26   H_TEAM1_POR   uint8
 27   H_TEAM1_SAC   uint8
 28   H_TEAM1_SAS   uint8
 29   H_TEAM1_TOR   uint8
 30   H_TEAM1_UTA   uint8
 31   H_TEAM1_WAS   uint8
 32   H_TEAM2_ ATL  uint8
 33   H_TEAM2_ BKN  uint8
 34   H_TEAM2_ BOS  uint8
 35   H_TEAM2_ CHA  uint8
 36   H_TEAM2_ CHI  uint8
 37   H_TEAM2_ CLE  uint8
 38   H_TEAM2_ DAL  uint8
 39   H_TEAM2_ DEN  uint8
 40   H_TEAM2_ DET  uint8
 41   H_TEAM2_ GSW  uint8
 42   H_TEAM2_ HOU  uint8
 43   H_TEAM2_ IND  uint8
 44   H_TEAM2_ LAC  uint8
 45   H_TEAM2_ LAL  uint8
 46   H_TEAM2_ MEM  uint8
 47   H_TEAM2_ MIA  uint8
 48   H_TEAM2_ MIL  uint8
 49   H_TEAM2_ MIN  uint8
 50   H_TEAM2_ NOP  uint8
 51   H_TEAM2_ NYK  uint8
 52   H_TEAM2_ OKC  uint8
 53   H_TEAM2_ ORL  uint8
 54   H_TEAM2_ PHI  uint8
 55   H_TEAM2_ PHX  uint8
 56   H_TEAM2_ POR  uint8
 57   H_TEAM2_ SAC  uint8
 58   H_TEAM2_ SAS  uint8
 59   H_TEAM2_ TOR  uint8
 60   H_TEAM2_ UTA  uint8
 61   H_TEAM2_ WAS  uint8
 62   H_TEAM2_ATL   uint8
 63   H_TEAM2_BKN   uint8
 64   H_TEAM2_BOS   uint8
 65   H_TEAM2_CHA   uint8
 66   H_TEAM2_CHI   uint8
 67   H_TEAM2_CLE   uint8
 68   H_TEAM2_DAL   uint8
 69   H_TEAM2_DEN   uint8
 70   H_TEAM2_DET   uint8
 71   H_TEAM2_GSW   uint8
 72   H_TEAM2_HOU   uint8
 73   H_TEAM2_IND   uint8
 74   H_TEAM2_LAC   uint8
 75   H_TEAM2_LAL   uint8
 76   H_TEAM2_MEM   uint8
 77   H_TEAM2_MIA   uint8
 78   H_TEAM2_MIL   uint8
 79   H_TEAM2_MIN   uint8
 80   H_TEAM2_NJN   uint8
 81   H_TEAM2_NOH   uint8
 82   H_TEAM2_NOP   uint8
 83   H_TEAM2_NYK   uint8
 84   H_TEAM2_OKC   uint8
 85   H_TEAM2_ORL   uint8
 86   H_TEAM2_PHI   uint8
 87   H_TEAM2_PHX   uint8
 88   H_TEAM2_POR   uint8
 89   H_TEAM2_SAC   uint8
 90   H_TEAM2_SAS   uint8
 91   H_TEAM2_TOR   uint8
 92   H_TEAM2_UTA   uint8
 93   H_TEAM2_WAS   uint8
 94   A_TEAM1_ATL   uint8
 95   A_TEAM1_BKN   uint8
 96   A_TEAM1_BOS   uint8
 97   A_TEAM1_CHA   uint8
 98   A_TEAM1_CHI   uint8
 99   A_TEAM1_CLE   uint8
 100  A_TEAM1_DAL   uint8
 101  A_TEAM1_DEN   uint8
 102  A_TEAM1_DET   uint8
 103  A_TEAM1_GSW   uint8
 104  A_TEAM1_HOU   uint8
 105  A_TEAM1_IND   uint8
 106  A_TEAM1_LAC   uint8
 107  A_TEAM1_LAL   uint8
 108  A_TEAM1_MEM   uint8
 109  A_TEAM1_MIA   uint8
 110  A_TEAM1_MIL   uint8
 111  A_TEAM1_MIN   uint8
 112  A_TEAM1_NJN   uint8
 113  A_TEAM1_NOH   uint8
 114  A_TEAM1_NOP   uint8
 115  A_TEAM1_NYK   uint8
 116  A_TEAM1_OKC   uint8
 117  A_TEAM1_ORL   uint8
 118  A_TEAM1_PHI   uint8
 119  A_TEAM1_PHX   uint8
 120  A_TEAM1_POR   uint8
 121  A_TEAM1_SAC   uint8
 122  A_TEAM1_SAS   uint8
 123  A_TEAM1_TOR   uint8
 124  A_TEAM1_UTA   uint8
 125  A_TEAM1_WAS   uint8
 126  A_TEAM2_ATL   uint8
 127  A_TEAM2_BKN   uint8
 128  A_TEAM2_BOS   uint8
 129  A_TEAM2_CHA   uint8
 130  A_TEAM2_CHI   uint8
 131  A_TEAM2_CLE   uint8
 132  A_TEAM2_DAL   uint8
 133  A_TEAM2_DEN   uint8
 134  A_TEAM2_DET   uint8
 135  A_TEAM2_GSW   uint8
 136  A_TEAM2_HOU   uint8
 137  A_TEAM2_IND   uint8
 138  A_TEAM2_LAC   uint8
 139  A_TEAM2_LAL   uint8
 140  A_TEAM2_MEM   uint8
 141  A_TEAM2_MIA   uint8
 142  A_TEAM2_MIL   uint8
 143  A_TEAM2_MIN   uint8
 144  A_TEAM2_NJN   uint8
 145  A_TEAM2_NOH   uint8
 146  A_TEAM2_NOP   uint8
 147  A_TEAM2_NYK   uint8
 148  A_TEAM2_OKC   uint8
 149  A_TEAM2_ORL   uint8
 150  A_TEAM2_PHI   uint8
 151  A_TEAM2_PHX   uint8
 152  A_TEAM2_POR   uint8
 153  A_TEAM2_SAC   uint8
 154  A_TEAM2_SAS   uint8
 155  A_TEAM2_TOR   uint8
 156  A_TEAM2_UTA   uint8
 157  A_TEAM2_WAS   uint8
dtypes: uint8(158)
memory usage: 1.9 MB

In [17]:
teamstats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   H_H/A     12738 non-null  int64
 1   GAMEDATE  12738 non-null  datetime64[ns]
 2   H_W/L     12738 non-null  int64
 3   H_MIN     12738 non-null  int64
 4   H_FGA     12738 non-null  int64
 5   H_FG%     12738 non-null  float64
 6   H_3PM     12738 non-null  int64
 7   H_3PA     12738 non-null  int64
 8   H_3P%     12738 non-null  float64
 9   H_FT%     12738 non-null  float64
 10  H_OREB    12738 non-null  int64
 11  H_DREB    12738 non-null  int64
 12  H_AST     12738 non-null  int64
 13  H_TOV     12738 non-null  int64
 14  H_STL     12738 non-null  int64
 15  H_BLK     12738 non-null  int64
 16  H_PF      12738 non-null  int64
 17  A_MIN     12738 non-null  int64
 18  A_FGA     12738 non-null  int64
 19  A_FG%     12738 non-null  float64
 20  A_3PM     12738 non-null  int64
 21  A_3PA     12738 non-null  int64
 22  A_3P%     12738 non-null  float64
 23  A_FT%     12738 non-null  float64
 24  A_OREB    12738 non-null  int64
 25  A_DREB    12738 non-null  int64
 26  A_AST     12738 non-null  int64
 27  A_TOV     12738 non-null  int64
 28  A_STL     12738 non-null  int64
 29  A_BLK     12738 non-null  int64
 30  A_PF      12738 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(24)
memory usage: 3.0 MB

In [18]:
cmb_teamstats_df = pd.concat([df, dummy_teamstats_df], axis=1)

In [19]:
cmb_teamstats_df.shape

(12738, 193)

In [20]:
cmb_teamstats_df.info('include=all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 193 columns):
 #    Column        Dtype
---   ------        -----
 0    H_TEAM1       object
 1    H_H/A         int64
 2    H_TEAM2       object
 3    GAMEDATE      datetime64[ns]
 4    H_W/L         int64
 5    H_MIN         int64
 6    H_FGA         int64
 7    H_FG%         float64
 8    H_3PM         int64
 9    H_3PA         int64
 10   H_3P%         float64
 11   H_FT%         float64
 12   H_OREB        int64
 13   H_DREB        int64
 14   H_AST         int64
 15   H_TOV         int64
 16   H_STL         int64
 17   H_BLK         int64
 18   H_PF          int64
 19   A_TEAM1       object
 20   A_TEAM2       object
 21   A_MIN         int64
 22   A_FGA         int64
 23   A_FG%         float64
 24   A_3PM         int64
 25   A_3PA         int64
 26   A_3P%         float64
 27   A_FT%         float64
 28   A_OREB        int64
 29   A_DREB        int64
 30   A_AST         int64
 31   A_TOV         int64
 32   A_STL         int64
 33   A_BLK         int64
 34   A_PF          int64
 35   H_TEAM1_ATL   uint8
 36   H_TEAM1_BKN   uint8
 37   H_TEAM1_BOS   uint8
 38   H_TEAM1_CHA   uint8
 39   H_TEAM1_CHI   uint8
 40   H_TEAM1_CLE   uint8
 41   H_TEAM1_DAL   uint8
 42   H_TEAM1_DEN   uint8
 43   H_TEAM1_DET   uint8
 44   H_TEAM1_GSW   uint8
 45   H_TEAM1_HOU   uint8
 46   H_TEAM1_IND   uint8
 47   H_TEAM1_LAC   uint8
 48   H_TEAM1_LAL   uint8
 49   H_TEAM1_MEM   uint8
 50   H_TEAM1_MIA   uint8
 51   H_TEAM1_MIL   uint8
 52   H_TEAM1_MIN   uint8
 53   H_TEAM1_NJN   uint8
 54   H_TEAM1_NOH   uint8
 55   H_TEAM1_NOP   uint8
 56   H_TEAM1_NYK   uint8
 57   H_TEAM1_OKC   uint8
 58   H_TEAM1_ORL   uint8
 59   H_TEAM1_PHI   uint8
 60   H_TEAM1_PHX   uint8
 61   H_TEAM1_POR   uint8
 62   H_TEAM1_SAC   uint8
 63   H_TEAM1_SAS   uint8
 64   H_TEAM1_TOR   uint8
 65   H_TEAM1_UTA   uint8
 66   H_TEAM1_WAS   uint8
 67   H_TEAM2_ ATL  uint8
 68   H_TEAM2_ BKN  uint8
 69   H_TEAM2_ BOS  uint8
 70   H_TEAM2_ CHA  uint8
 71   H_TEAM2_ CHI  uint8
 72   H_TEAM2_ CLE  uint8
 73   H_TEAM2_ DAL  uint8
 74   H_TEAM2_ DEN  uint8
 75   H_TEAM2_ DET  uint8
 76   H_TEAM2_ GSW  uint8
 77   H_TEAM2_ HOU  uint8
 78   H_TEAM2_ IND  uint8
 79   H_TEAM2_ LAC  uint8
 80   H_TEAM2_ LAL  uint8
 81   H_TEAM2_ MEM  uint8
 82   H_TEAM2_ MIA  uint8
 83   H_TEAM2_ MIL  uint8
 84   H_TEAM2_ MIN  uint8
 85   H_TEAM2_ NOP  uint8
 86   H_TEAM2_ NYK  uint8
 87   H_TEAM2_ OKC  uint8
 88   H_TEAM2_ ORL  uint8
 89   H_TEAM2_ PHI  uint8
 90   H_TEAM2_ PHX  uint8
 91   H_TEAM2_ POR  uint8
 92   H_TEAM2_ SAC  uint8
 93   H_TEAM2_ SAS  uint8
 94   H_TEAM2_ TOR  uint8
 95   H_TEAM2_ UTA  uint8
 96   H_TEAM2_ WAS  uint8
 97   H_TEAM2_ATL   uint8
 98   H_TEAM2_BKN   uint8
 99   H_TEAM2_BOS   uint8
 100  H_TEAM2_CHA   uint8
 101  H_TEAM2_CHI   uint8
 102  H_TEAM2_CLE   uint8
 103  H_TEAM2_DAL   uint8
 104  H_TEAM2_DEN   uint8
 105  H_TEAM2_DET   uint8
 106  H_TEAM2_GSW   uint8
 107  H_TEAM2_HOU   uint8
 108  H_TEAM2_IND   uint8
 109  H_TEAM2_LAC   uint8
 110  H_TEAM2_LAL   uint8
 111  H_TEAM2_MEM   uint8
 112  H_TEAM2_MIA   uint8
 113  H_TEAM2_MIL   uint8
 114  H_TEAM2_MIN   uint8
 115  H_TEAM2_NJN   uint8
 116  H_TEAM2_NOH   uint8
 117  H_TEAM2_NOP   uint8
 118  H_TEAM2_NYK   uint8
 119  H_TEAM2_OKC   uint8
 120  H_TEAM2_ORL   uint8
 121  H_TEAM2_PHI   uint8
 122  H_TEAM2_PHX   uint8
 123  H_TEAM2_POR   uint8
 124  H_TEAM2_SAC   uint8
 125  H_TEAM2_SAS   uint8
 126  H_TEAM2_TOR   uint8
 127  H_TEAM2_UTA   uint8
 128  H_TEAM2_WAS   uint8
 129  A_TEAM1_ATL   uint8
 130  A_TEAM1_BKN   uint8
 131  A_TEAM1_BOS   uint8
 132  A_TEAM1_CHA   uint8
 133  A_TEAM1_CHI   uint8
 134  A_TEAM1_CLE   uint8
 135  A_TEAM1_DAL   uint8
 136  A_TEAM1_DEN   uint8
 137  A_TEAM1_DET   uint8
 138  A_TEAM1_GSW   uint8
 139  A_TEAM1_HOU   uint8
 140  A_TEAM1_IND   uint8
 141  A_TEAM1_LAC   uint8
 142  A_TEAM1_LAL   uint8
 143  A_TEAM1_MEM   uint8
 144  A_TEAM1_MIA   uint8
 145  A_TEAM1_MIL   uint8
 146  A_TEAM1_MIN   uint8
 147  A_TEAM1_NJN   uint8
 148  A_TEAM1_NOH   uint8
 149  A_TEAM1_NOP   uint8
 150  A_TEAM1_NYK   uint8
 151  A_TEAM1_OKC   uint8
 152  A_TEAM1_ORL   uint8
 153  A_TEAM1_PHI   uint8
 154  A_TEAM1_PHX   uint8
 155  A_TEAM1_POR   uint8
 156  A_TEAM1_SAC   uint8
 157  A_TEAM1_SAS   uint8
 158  A_TEAM1_TOR   uint8
 159  A_TEAM1_UTA   uint8
 160  A_TEAM1_WAS   uint8
 161  A_TEAM2_ATL   uint8
 162  A_TEAM2_BKN   uint8
 163  A_TEAM2_BOS   uint8
 164  A_TEAM2_CHA   uint8
 165  A_TEAM2_CHI   uint8
 166  A_TEAM2_CLE   uint8
 167  A_TEAM2_DAL   uint8
 168  A_TEAM2_DEN   uint8
 169  A_TEAM2_DET   uint8
 170  A_TEAM2_GSW   uint8
 171  A_TEAM2_HOU   uint8
 172  A_TEAM2_IND   uint8
 173  A_TEAM2_LAC   uint8
 174  A_TEAM2_LAL   uint8
 175  A_TEAM2_MEM   uint8
 176  A_TEAM2_MIA   uint8
 177  A_TEAM2_MIL   uint8
 178  A_TEAM2_MIN   uint8
 179  A_TEAM2_NJN   uint8
 180  A_TEAM2_NOH   uint8
 181  A_TEAM2_NOP   uint8
 182  A_TEAM2_NYK   uint8
 183  A_TEAM2_OKC   uint8
 184  A_TEAM2_ORL   uint8
 185  A_TEAM2_PHI   uint8
 186  A_TEAM2_PHX   uint8
 187  A_TEAM2_POR   uint8
 188  A_TEAM2_SAC   uint8
 189  A_TEAM2_SAS   uint8
 190  A_TEAM2_TOR   uint8
 191  A_TEAM2_UTA   uint8
 192  A_TEAM2_WAS   uint8
dtypes: datetime64[ns](1), float64(6), int64(24), object(4), uint8(158)
memory usage: 5.3+ MB

In [21]:
# defining 'W/L' column as feature set
X = cmb_teamstats_df.copy()
X.drop(columns=['H_W/L',
       'H_TEAM1',
       'H_TEAM2',
       'A_TEAM1',
       'A_TEAM2'],axis=1, inplace=True)
X.head(16)

,H_H/A,GAMEDATE,H_MIN,H_FGA,H_FG%,H_3PM,H_3PA,H_3P%,H_FT%,H_OREB,...,A_TEAM2_OKC,A_TEAM2_ORL,A_TEAM2_PHI,A_TEAM2_PHX,A_TEAM2_POR,A_TEAM2_SAC,A_TEAM2_SAS,A_TEAM2_TOR,A_TEAM2_UTA,A_TEAM2_WAS
0,1,2017-01-01,53,92,45.7,14,28,50.0,59.3,11,...,0,0,0,0,0,0,0,0,0,0
1,1,2014-01-03,48,80,46.3,10,31,32.3,84.2,7,...,0,0,0,0,0,0,0,0,0,0
2,1,2020-01-04,48,82,51.2,10,32,31.3,91.7,4,...,0,0,0,0,0,0,0,0,0,0
3,1,2012-01-05,63,94,38.3,6,22,27.3,67.4,15,...,0,0,0,0,0,0,0,0,0,0
4,1,2013-01-05,48,68,41.2,10,29,34.5,78.9,8,...,0,0,0,0,0,0,0,0,0,0
5,1,2016-01-05,48,87,42.5,15,39,38.5,63.2,14,...,0,0,0,0,0,0,0,0,0,0
6,1,2019-01-06,48,91,47.3,10,24,41.7,76.9,14,...,0,0,0,0,0,0,0,0,0,0
7,1,2020-01-06,48,77,45.5,18,39,46.2,84.4,4,...,0,0,0,0,0,0,0,0,0,0
8,1,2012-01-07,48,83,56.6,9,12,75.0,100.0,4,...,0,0,0,0,0,0,0,0,0,0
9,1,2015-01-07,48,72,44.4,13,25,52.0,82.6,8,...,0,0,0,0,0,0,0,0,0,0
10,1,2011-01-08,48,84,42.9,11,22,50.0,86.2,12,...,0,0,0,0,0,0,0,0,0,0
11,1,2014-01-08,48,75,45.3,10,23,43.5,86.4,6,...,0,0,0,0,0,0,0,0,0,0
12,1,2020-01-08,48,106,36.8,13,44,29.5,88.9,16,...,0,0,0,0,0,0,0,0,0,0
13,1,2016-01-09,48,94,52.1,10,24,41.7,80.0,8,...,0,0,0,0,0,0,0,0,0,0
14,1,2014-01-10,48,86,37.2,9,32,28.1,90.9,13,...,0,0,0,0,0,0,0,0,0,0
15,1,2013-01-11,48,72,55.6,9,19,47.4,60.9,4,...,0,0,0,0,0,0,0,0,0,0

In [22]:
#print(X.iloc[:,2:32])
X = X.iloc[:,2:32]

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   H_MIN        12738 non-null  int64
 1   H_FGA        12738 non-null  int64
 2   H_FG%        12738 non-null  float64
 3   H_3PM        12738 non-null  int64
 4   H_3PA        12738 non-null  int64
 5   H_3P%        12738 non-null  float64
 6   H_FT%        12738 non-null  float64
 7   H_OREB       12738 non-null  int64
 8   H_DREB       12738 non-null  int64
 9   H_AST        12738 non-null  int64
 10  H_TOV        12738 non-null  int64
 11  H_STL        12738 non-null  int64
 12  H_BLK        12738 non-null  int64
 13  H_PF         12738 non-null  int64
 14  A_MIN        12738 non-null  int64
 15  A_FGA        12738 non-null  int64
 16  A_FG%        12738 non-null  float64
 17  A_3PM        12738 non-null  int64
 18  A_3PA        12738 non-null  int64
 19  A_3P%        12738 non-null  float64
 20  A_FT%        12738 non-null  float64
 21  A_OREB       12738 non-null  int64
 22  A_DREB       12738 non-null  int64
 23  A_AST        12738 non-null  int64
 24  A_TOV        12738 non-null  int64
 25  A_STL        12738 non-null  int64
 26  A_BLK        12738 non-null  int64
 27  A_PF         12738 non-null  int64
 28  H_TEAM1_ATL  12738 non-null  uint8
 29  H_TEAM1_BKN  12738 non-null  uint8
dtypes: float64(6), int64(22), uint8(2)
memory usage: 2.7 MB

In [24]:
# Scale the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X)
X = scaler.transform(X)

In [25]:
cmb_teamstats_df.to_csv('20210426_teamstats_df.csv')